* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: flex-start;
    padding-bottom:5px;
    width: 95vw;
}

main {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-gap: 3px;
    height:87vh;
    width: 97vw;
}

.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview {
    background-color: red;
    border: 2px solid;
    border-color: green;
    border-radius: 6px;
}

.preview-and-inputs {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: 5fr 5fr;
}

.text-inputs {
    background-color: yellow;
    border: 2px solid;
    border-color: purple;
    border-radius: 6px;
}

.thumbnails {
    background-color: blue;
    border: 2px solid;
    border-color: orange;
    border-radius: 6px;
}

